<h1><%= "Edit your #{@school_class.title} here" %></h1>

<h3><%= form_for @school_class do |f| %></h3>
<li>
    Class Name: <%=f.text_field :title  %>
    Room Number: <%= f.number_field :room_number %>
    <%= f.submit %>
</li>
<% end %>


